<div class="row">
  <div class="col">
    <hr>
    <!-- Tabla  -->



    <div class="card">
      <p-table [value]="listaPersonajes" [tableStyle]="{ 'min-width': '50rem' }"  >

        <ng-template pTemplate="caption">
          <!-- ToDo Añadir cabecera en capation? si se puede con titulo y el searchbox -->
          <div class="flex align-items-center justify-content-between">
              Lista Personajes
              <component-search-box
              placeholder="Buscar personaje por id"
              (onDebounce)="searchPersonajeById($event)"
              />
          </div>
      </ng-template>
          <ng-template pTemplate="header" let-columns #table>
              <tr>
                  <th>#Id</th>
                  <th>Nombre</th>
                  <th>Capitulos en los que aparece</th>
                  <th>Ver perfil</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-per >
              <tr>
                  <td>
                      {{ per.id_personaje }}
                  </td>
                  <td >
                    {{ per.nombre_personaje }}
                </td>
                <td >
                  {{ per.capitulos }}
              </td>
                  <td >
                    <a [routerLink]="['editar/', per.id_personaje]" >
                      Ver perfil
                  </a>
                  </td>
              </tr>
          </ng-template>
      </p-table>
    </div>
  </div>
</div>
